<p>
    Genre: @Html.TextBox("Genre")
    Title: @Html.TextBox("Title")
    ReleaseDate: @Html.TextBox("ReleaseDate")
    Price: @Html.TextBox("Price")
    <input type="button" id="submitButton" value="Submit" />
</p>