@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SearchIndex</h1>
    <p>

        <a href="@Url.Action("Create", "Movie")">Create New</a>"

   </p>
</div>

@{
    Html.RenderPartial("_MovieIndexPartial");
}