    @{
        ViewData["Title"] = "Home Page";
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <button id="createNewButton">Create New</button>
    <div id="movieCreateContainer"></div>

    <script>
        $(document).ready(function () {
            $("#createNewButton").click(function () {
                console.log("Button clicked");  
                $.ajax({
                    url: '@Url.Action("MovieCreatePartial", "PartialView")',
                    type: 'GET',
                    success: function (data) {
                        $("#movieCreateContainer").html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error: " + status + "; " + error);
                    }
                });
            });
        $(document).on('click', '#submitButton', function () {

            $("#movieCreateContainer").html('');
        });
        });
    </script>

    <partial name="_MovieIndexPartial" />
