@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SearchIndex</h1>
    <button id="createNewButton">Create New</button>
    <div id="movieCreateContainer"></div>

    <script>
        $(document).ready(function () {
            $("#createNewButton").click(function () {
                $.ajax({
                    url: '@Url.Action("MovieCreatePartial", "PartialView")',
                    type: 'GET',
                    success: function (data) {
                        $("#movieCreateContainer").html(data);
                    }
                });
            });

            $(document).on('click', '#submitButton', function () {

                $("#movieCreateContainer").html('');
            });
        });
    </script>

@{
    Html.RenderPartial("_MovieIndexPartial");
}